@import '@scss/config/mixins';
@import '@scss/config/vars';

.mainTitle {
  line-height: 100%;
  font-weight: 700;
  @include adaptiveValue('font-size', 36, 28, 1);
  @include adaptiveValue('margin-bottom', 40, 15, 1);
}
.title {
  font-weight: 700;
  line-height: 120%;
  @include adaptiveValue('font-size', 18, 16, 1);
  margin-bottom: 20px;
}
.article {
  line-height: 140%;
  font-size: 18px;
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}
.swiperWrapper {
  position: relative;
  display: flex;
  max-width: 100%;
  padding: 0 10px 20px 10px;
  margin-bottom: 20px;
  @include adaptiveValue('height', 270, 80, 1);
  @media (max-width: 865.98px) {
    @include adaptiveValue('height', 370, 160, 1);
  }
  @media (max-width: 805.98px) {
    @include adaptiveValue('height', 370, 120, 1);
  }
  @media (max-width: 465px) {
    @include adaptiveValue('height', 720, 215, 1);
  }
}
.imgBlock {
  position: relative;
  max-width: 100%;
  height: 100%;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(#000, 20%);
  overflow: hidden;
}
.img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  object-fit: cover;
}