.burger-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(#000, 80%);
  transition: all 350ms linear;
  z-index: 50;
  &.entering {
    opacity: 1;
    visibility: visible;
  }
  &.entered {
    opacity: 1;
    visibility: visible;
  }
  &.exiting {
    opacity: 0;
    visibility: hidden;
  }
  &.exited {
    opacity: 0;
    visibility: hidden;
  }

  &__body {
    position: relative;
    width: 300px;
    height: 100%;
    margin-left: auto;
    padding: 50px 30px;
    background: #fff;
    overflow-y: auto;
    transition: all 300ms linear;
    &.entering {
      transform: translateX(0);
    }
    &.entered {
      transform: translateX(0);
    }
    &.exiting {
      transform: translateX(100%);
    }
    &.exited {
      transform: translateX(100%);
    }
  }
  &__close-button {
    position: absolute;
    top: 30px;
    right: 30px;
    display: flex;
    background: transparent;
  }
  &__close-icon {
    width: 34px;
    height: 34px;
  }
  &__logo {
    margin-bottom: 20px;
  }
  &__list {
    display: flex;
    flex-direction: column;
  }
  &__item {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  &__block {
    display: flex;
    &.active ~ ul {
      display: block;
      transition: all 350ms ease-in-out;
    }
    & ~ ul {
      padding-top: 15px;
      padding-left: 10px;
      display: none;
    }
  }
  &__link {
    transition: $standartTrans;
    &:hover {
      color: $redColor;
    }
    &.active {
      color: $redColor;
    }
  }
  &__icon {
    cursor: pointer;
    padding-left: 10px;
    transition: all 280ms ease-in-out;
    &:hover {
      svg {
        path {
          fill: $redColor;
        }
      }
    }
    &.active {
      transform: translateY(-5px) rotate(90deg);
      svg {
        path {
          fill: $redColor;
        }
      }
    }
    & svg {
      width: 16px;
      height: 16px;
    }
  }
}
