@import "scss/config/mixins";
@import "scss/config/vars";

.textBlock {
  display: flex;
  flex-direction: column;
  @include adaptiveValue("margin-bottom", 35, 15, 1);
}
.article {
  line-height: 160%;
  @include adaptiveValue("font-size", 16, 14, 1);
  &:not(:last-child) {
    @include adaptiveValue("margin-bottom", 20, 10, 1);
  }
  & span {
    background: rgba(#000, 5%);
    padding: 1px 3px;
    letter-spacing: 0.1rem;
    border-radius: 5px;
  }
}
