@import "scss/config/mixins";
@import "scss/config/vars";

.textBlock {
  display: flex;
  flex-direction: column;
  @include adaptiveValue("margin-bottom", 35, 15, 1);
}

.article {
  line-height: 160%;
  @include adaptiveValue("font-size", 16, 14, 1);
  &:not(:last-child) {
    @include adaptiveValue("margin-bottom", 20, 10, 1);
  }
}

.list {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.listItem {
  line-height: 130%;
  @include adaptiveValue("font-size", 16, 14, 1);
  &:not(:last-child) {
    margin-bottom: 5px;
  }
}
