@import "@scss/config/mixins";
@import "@scss/config/vars";

.mainTitle {
  line-height: 100%;
  font-weight: 700;
  @include adaptiveValue("font-size", 36, 28, 1);
  @include adaptiveValue("margin-bottom", 40, 15, 1);
}

.textBlock {
  display: flex;
  flex-direction: column;
  @include adaptiveValue("margin-bottom", 35, 15, 1);
}

.article {
  line-height: 160%;
  @include adaptiveValue("font-size", 16, 14, 1);
  &:not(:last-child) {
    @include adaptiveValue("margin-bottom", 20, 10, 1);
  }
}

.title_2 {
  font-weight: 700;
  line-height: 120%;
  @include adaptiveValue("font-size", 26, 21, 1);
  @include adaptiveValue("margin-bottom", 20, 15, 1);
}

.title_3 {
  font-weight: 700;
  line-height: 120%;
  @include adaptiveValue("font-size", 18, 16, 1);
  @include adaptiveValue("margin-bottom", 10, 6, 1);
}

.list {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.listItem {
  line-height: 130%;
  @include adaptiveValue("font-size", 16, 14, 1);
  &:not(:last-child) {
    margin-bottom: 5px;
  }
}
