@import '@scss/config/vars';
@import '@scss/config/mixins';

.wrapper {
  @include adaptiveValue('padding-top', 40, 20, 1);
  @include adaptiveValue('padding-bottom', 40, 20, 1);
  background: $darkBlueColor;
}
.row {
  display: flex;
  justify-content: space-between;
  @media (max-width: 830.98px) {
    flex-wrap: wrap;
  }
}
.column {
  display: flex;
  flex-direction: column;
  padding-right: 10px;
  &:nth-child(1) {
    flex: 1 0 45%;
    @media (max-width: 830.98px) {
      flex: 1 1 100%;
      margin-bottom: 20px;
      padding-right: 0;
    }
  }
  &:nth-child(2) {
    flex: 0 0 35%;
    @media (max-width: 830.98px) {
      flex: 1 1 60%;
    }
    @media (max-width: 410.98px) {
      padding-right: 0;
    }
  }
  &:nth-child(3) {
    flex: 0 1 20%;
    padding-right: 0;
    @media (max-width: 830.98px) {
      flex: 1 1 40%;
      
    }
    @media (max-width: 410.98px) {
      flex-basis: 100%;
      margin-top: 20px;
    }
  }
}
.logo {
  width: 130px;
  margin-bottom: 20px;
}
.text {
  color: #fff;
  line-height: 140%;
  &:not(:last-child) {
    margin-bottom: 10px;
  }
}
.title {
  font-weight: 700;
  color: $redColor;
  margin-bottom: 10px;
}
.list {
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}
.item {
  &:not(:last-child) {
    margin-bottom: 5px;
  }
}
.link {
  color: #fff;
  line-height: 140%;
  transition: $standartTrans;
  &:hover {
    color: $redColor;
  }
}
.copyright {
  display: flex;
  align-items: center;
  padding-top: 40px;
  @include adaptiveValue('padding-top', 40, 20, 1);
  color: #fff;
  & svg {
    fill: #fff;
    margin-right: 5px;
  }
}