@import "@scss/config/mixins";
@import "@scss/config/vars";

.wrapper {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
  margin-top: 40px;
  margin-bottom: 40px;
  @media (max-width:620.98px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width:390.98px) {
    grid-template-columns: repeat(1, 1fr);
  }
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
  &:hover {
    .icon {
      opacity: 100%;
    }
  }
}
.icon {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
  fill: $greenColor;
  opacity: 80%;
  transition: $standartTrans;
}
.title {
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 5px;
}
.text {
  text-align: center;
  font-size: 14px;
  line-height: 140%;
}