@import './config/fonts';
@import './config/mixins';
@import './config/vars';
@import './config/reset';
@import './config/scrollbar';
@import './config/global';

@import './layout/header';
@import './layout/home';
@import './layout/shipping';
@import './layout/news';
@import './layout/about';
@import './layout/footer';
@import './layout/modals';
@import './layout/burger-menu';

